<div class="page-container">
    <app-header name="beforeLogin" [hidden]="hideHeader"></app-header>
    <app-headerlogin name="afterLogin" [hidden]="hideHeaderLogin"></app-headerlogin>
    <div class="page-content">
        <router-outlet></router-outlet>
    </div>
    <app-footer [hidden]="hideFooter"></app-footer>
</div>