
    <div class="page-content-wrap bg-img-2 light-elements">

        <div class="page-content-holder">

            <div class="block-heading block-heading-centralized  " data-animate="fadeInDown">
                <h2>
                    <strong>Wave </strong> &mdash; Results</h2>
                <div class="block-heading-text">
                    Construction and Destruction Waves
                </div>
            </div>

            <div class="block push-up-20">
                <div class="row">
                    <!--div class="col-md-4">
                        <div class="text-column  " data-animate="fadeInLeft">
                            <h4>100% Accurate</h4>
                            <div class="text-column-info">
                                This allows you to create web applications of varying complexity for different devices
                            </div>
                        </div>
                        <div class="text-column  " data-animate="fadeInLeft">
                            <h4>Simply Use </h4>
                            <div class="text-column-info">
                                Based on latest jQuery and Bootstrap3. You will get 40+ pages with samples and ready-to-use styled UI elements. Also template
                                powered with 40+ jQuery and JavaScript plguins.
                            </div>
                        </div>
                    </div-->
                    <div class="col-md-8 text-center  " data-animate="fadeInRight">
                        <img src="assets/img/atlant_monitor.png" class="img-responsive-mobile" />

                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="page-content-wrap bg-img-1">

        <div class="divider">
            <div class="box">
                <span class="fa fa-angle-down"></span>
            </div>
        </div>

        <div class="page-content-holder">

            <div class="row">
                <div class="col-md-8  " data-animate="fadeInLeft">

                    <div class="block-heading block-heading-centralized">
                        <h2 class="heading-underline">Optimized for mobile devices</h2>
                        <!--div class="block-heading-text">
                            Proin luctus nulla fringilla massa euismod commodo. Donec sit amet elementum libero. Curabitur ut lorem id tellus malesuada
                            tincidunt et eget purus. Cras molestie, velit quis viverra ultrices, tortor erat suscipit arcu,
                            a ullamcorper neque lorem et massa. Praesent facilisis tellus nec rutrum luctus. Curabitur non
                            venenatis metus, vitae rhoncus risus. Donec quis mattis est. Proin ut augue vel odio condimentum
                            ornare.
                        </div-->
                    </div>
                    <div class="block  " data-animate="fadeInLeft">
                        <!--img src="assets/img/atlant_technologies.png" class="img-responsive" /-->
                    </div>
                </div>
                <div class="col-md-4   text-center" data-animate="fadeInRight">
                    <img src="assets/img/results.png" class="img-responsive-mobile" />
                </div>
            </div>



        </div>
 
    </div>

