<div class="page-header">
    <div class="page-header-holder">
        <div class="logo">
            <a href="index.html">ABCTest Solutions</a>
        </div>
        <div class="navigation-toggle">
            <div class="navigation-toggle-button"><span class="fa fa-bars"></span></div>
        </div>
        <ul class="navigation">
            <li><a (click)="logout()"><span class="	glyphicon glyphicon-off"></span> Logoff</a></li>
        </ul>
    </div>
</div>