<div class="page-content-wrap bg-light">
    <div class="page-content-holder no-padding">
        <div class="page-title">
            <h1>User Test</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">User Test</li>
            </ul>
        </div>
    </div>
</div>
<div class="page-content-wrap">
    <div class="page-content-holder padding-v-30">
        <div class="row" style="height: 300px;">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="fa fa-cogs"></span> User Test </h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <table class="table datatable  table-bordered">
                                <tr bgcolor="#ffffd7">
                                    <td>
                                        <strong>
                                            <span id="lblqnum">Question No</span>:
                                            <span id="lblQNO" style="color:DeepSkyBlue;">{{incrementID}}</span>
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            <span id="lbltotnumq">Total No of Questions</span>:
                                            <span id="lblTotQ" style="color:Olive;">10</span>
                                        </strong>
                                    </td>
                                    <td height="100%">
                                        <strong>
                                            <span id="lblmaxtime">Max Time</span>:&nbsp;
                                            <span id="lblMaxT" style="color:#C00000;">30</span>&nbsp;
                                            <span id="lblminutes">Minutes</span>
                                        </strong>
                                    </td>
                                    <td height="100%">
                                        <strong>
                                            <span id="lblmaxtime">Time Left: </span>:&nbsp;
                                            <span id="lblmaxtime" style="color:Olive">{{min}} Minutes </span>:
                                            <span style="color:#C00000">{{sec}} Seconds</span>&nbsp;

                                        </strong>
                                    </td>
                                </tr>
                            </table>
                            <div class="pull-right">
                                <button class="btn-sm" [ngClass]="getStyle(i)" [style.background-color]="'white'" *ngFor="let que of QuestionArray;let i=index"
                                    (click)="question=QuestionArray[i];incrementID=i+1;backNextFun(incrementID)">
                                    Q {{i+1}}
                                </button>
                            </div>
                            <table class="table datatable  table-bordered">
                                <tbody>
                                    <tr bgcolor="#FFFFFF">
                                        <td bgcolor="#FF0000" style="width: 25px;">
                                            <img src="./assets/img/Q.gif" width="20" height="40">
                                        </td>
                                        <td bgcolor="#FFFFFF">
                                            <div *ngIf="question.quesimage">
                                                <img [src]="getPath(question.quesimage)" width="100" height="100">
                                            </div>
                                            <div class="video" *ngIf="question.quesvideo">
                                                <video controls (click)="toggleVideo()" (ended)="showvid=false" #videoPlayer width="200" height="200">
                                                    <source [src]="getPath(question.quesvideo)" type="video/mp4" /> Browser not supported to play video. Please use Chrome/Edge/Firefox
                                                </video>
                                            </div>
                                            <label>{{question.question}}</label>
                                        </td>
                                    </tr>
                                    <tr bgcolor="#FFFFFF" *ngFor="let answer of question.answer">
                                        <td>
                                            <input type="radio" [(ngModel)]="modelanswers[incrementID]" value="{{answer.id}}" name="cb1" value="yes">
                                        </td>
                                        <td bgcolor="#FFFFFF">
                                            <label>{{answer.answer}}</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="panel-footer">
                        <button [disabled]='disabledBackButton' class="btn btn-info" (click)="backwardQuesion(incrementID)">
                            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back</button>
                        <button class="btn btn-info pull-right" [disabled]="hideForwardButton" (click)="forwardQuesion(incrementID)">Next&nbsp;
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </button>
                        <span>
                            <button class="btn btn-success" (click)="submitTest()">Submit Test</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>