
  
  <div class="page-content-wrap bg-light">
      <div class="page-content-holder no-padding">
          <div class="page-title">                            
              <h1>Login</h1>
              <ul class="breadcrumb">
                  <li><a href="index.html">Home</a></li>
                  <li class="active">Login</li>
              </ul>               
          </div>
      </div>
  </div>
  
                 
  <div class="page-content-wrap">                    
      <div class="page-content-holder padding-v-30">

          <div class="row" style="height: 300px;">


              <div class="col-sm-6 col-md-6 col-md-offset-3">

                  <div class="account-wall">
                      <div class="login-container lightmode">

                          <div class="login-box animated fadeInDown">

                              <div class="login-title text-center" style="padding: 20px 0px;"><strong>Log In</strong> to your account</div>
                              <img class="profile-img" src="./assets/img/photo.png" alt="">
                              <div class="login-body">
                                  <form (submit) = "loginUser($event)" [formGroup]='loginForm ' action="index.html" class="form-horizontal" method="post">
                                      <div class="floatings-labels">
                                          <input type="text" name="fromDate" class="floating-input" placeholder=" " (keypress)="hideError()">
                                          <span class="form-bar"></span>
                                          <label class="lbltop" for="fromDateId"> User Name</label>
                                      </div>
                                      <div class="floatings-labels">
                                          <input type="password" name="fromDate" class="floating-input" placeholder=" " (keypress)="hideError()">
                                          <span class="form-bar"></span>
                                          <label class="lbltop" for="fromDateId"> Password</label>
                                      </div>
                                      <span class="errormsg" [hidden]="hideErrorLogin"><i>Invalid Entry..!! Please check the credentials</i><br></span>
                                      <span class="errormsg" [hidden]="hideEmpty"><i>Please enter the required fields</i><br></span>
                                      <div class="form-group">
                                          <!-- <div class="col-md-6">
                                              <a href="#" class="btn btn-link btn-block">Forgot your password?</a>
                                          </div> -->
                                          <div class="col-md-12">
                                              <button class="btn btn-info btn-block">Log In</button>
                                          </div>
                                      </div>


                                      <div class="login-subtitle text-right">
                                          Don't have an account yet? <a routerLink="/register">Create an account</a>
                                      </div>
                                  </form>
                              </div>

                          </div>

                      </div>
                  </div>
              </div>
              

          </div>
          
      </div>
      <!-- ./page content holder -->
  </div>
  <!-- ./page content wrapper -->
                  
<!-- </div> -->