<div class="page-content-wrap bg-light">
    <div class="page-content-holder no-padding">
        <div class="page-title">
            <h1>Registration</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Registration</li>
            </ul>
        </div>
    </div>
</div>


<div class="page-content-wrap">
    <div class="page-content-holder padding-v-30">
        <div class="row" style="height: 300px;">
            <div class="col-sm-6 col-md-8 col-md-offset-2">
                <div class="account-wall">
                    <div class="login-container lightmode">
                        <div class="login-box animated fadeInDown">
                            <div class="login-title text-center" style="padding: 20px 0px;">
                                <strong>Registration </strong>
                            </div>
                            <div class="row">
                                <form action="index.html" class="form-horizontal" method="post" [formGroup]="loginform">
                                    <div class="col-md-12">
                                        <span class="alert alert-success col-md-12" [hidden]="RegSuccess">
                                            <span style="color:green;padding-left: 115px;" class="text-center">
                                                <strong>Success!</strong> Click here to
                                                <a routerLink="/login" class="alert-link"
                                                    style="color:blue">Login</a>
                                            </span>
                                        </span>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="floatings-labels">
                                                    <input type="text" name="fromDate" class="floating-input" placeholder=" " formControlName='firstname'>
                                                    <span class="form-bar"></span>
                                                    <span *ngIf="loginform.get('firstname').touched && loginform.get('firstname').pristine">
                                                        Please enter the FirstName
                                                    </span>
                                                    <span *ngIf="loginform.get('firstname').invalid && loginform.get('firstname').dirty">
                                                        Please enter a valid Name
                                                    </span>
                                                    <label class="lbltop" for="fromDateId"> First Name</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="floatings-labels">
                                                    <input type="text" name="fromDate" class="floating-input" placeholder=" " formControlName='lastname'>
                                                    <span class="form-bar"></span>
                                                    <span *ngIf="loginform.get('lastname').touched && loginform.get('lastname').pristine">
                                                        Please enter the LastName
                                                    </span>
                                                    <span *ngIf="loginform.get('lastname').invalid && loginform.get('lastname').dirty">
                                                        Please enter a valid Name
                                                    </span>

                                                    <label class="lbltop" for="fromDateId"> Last Name</label>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-6">
                                                <div class="floatings-labels">
                                                    <input type="text" name="fromDate" class="floating-input" placeholder=" " formControlName='mobile'>
                                                    <span class="form-bar"></span>
                                                    <span *ngIf="loginform.get('mobile').touched && loginform.get('mobile').pristine">
                                                        Please enter Mobile Number
                                                    </span>
                                                    <span *ngIf="loginform.get('mobile').invalid && loginform.get('mobile').dirty">
                                                        Please enter a valid Mobile Number
                                                    </span>
                                                    <label class="lbltop" for="fromDateId"> Mobile </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="floatings-labels">
                                                    <input type="text" name="fromDate" class="floating-input" placeholder=" " formControlName='emailid'>
                                                    <span class="form-bar"></span>
                                                    <span *ngIf="loginform.get('emailid').touched && loginform.get('emailid').pristine">
                                                        Please enter EmailID
                                                    </span>
                                                    <span *ngIf="loginform.get('emailid').invalid && loginform.get('emailid').dirty">
                                                        Please enter a valid EmailID
                                                    </span>
                                                    <label class="lbltop" for="fromDateId"> Email </label>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-12">
                                                <div class="floatings-labels">
                                                    <input type="text" name="fromDate" class="floating-input" placeholder=" " formControlName='username'>
                                                    <span class="form-bar"></span>
                                                    <span *ngIf="loginform.get('username').touched && loginform.get('username').pristine">
                                                        Please enter UserName
                                                    </span>
                                                    <span *ngIf="loginform.get('username').invalid && loginform.get('username').dirty">
                                                        Please enter a valid UserName
                                                    </span>
                                                    <label class="lbltop" for="fromDateId"> User Name</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="floatings-labels">
                                                    <input type="password" name="fromDate" class="floating-input" placeholder=" " formControlName='password' [(ngModel)]="password">
                                                    <span class="form-bar"></span>
                                                    <span *ngIf="loginform.get('password').touched && loginform.get('password').pristine">
                                                        Please enter the Password
                                                    </span>
                                                    <span *ngIf="loginform.get('password').invalid && loginform.get('password').dirty">
                                                        Password must be atleast 3 characters
                                                    </span>
                                                    <label class="lbltop" for="fromDateId"> Password </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="floatings-labels">
                                                    <input type="password" name="fromDate" class="floating-input" placeholder=" " formControlName='confirmpassword' [(ngModel)]="cPassword"
                                                        (input)="matchPassword(cPassword)">
                                                    <span class="form-bar"></span>
                                                    <span *ngIf="loginform.get('confirmpassword').touched && loginform.get('confirmpassword').pristine">
                                                        Confirm Your Password
                                                    </span>
                                                    <span *ngIf="loginform.get('confirmpassword').invalid && loginform.get('confirmpassword').dirty">
                                                        Password must be same as above
                                                    </span>
                                                    <span [hidden]="errorInPassword">Password didn't match</span>
                                                    <label class="lbltop" for="fromDateId"> Confirm Password </label>
                                                </div>
                                            </div>

                                            <div class="col-md-12 ">

                                                <div class="form-group col-md-12">
                                                    <button class="btn btn-info btn-block" (click)="RegistrationDtls(loginform.value)" [disabled]="!loginform.valid || errorInPassword==false">Submit </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>
</div>