  <div class="page-header">
  <div class="page-header-holder">
      <div class="logo">
          <a href="index.html">ABCTest Solutions</a>
      </div>
      <div class="navigation-toggle">
          <div class="navigation-toggle-button"><span class="fa fa-bars"></span></div>
      </div>
      <ul class="navigation">
          <li><a [routerLink]="['']">Home</a>  </li>
          <!-- <li><a [routerLink]="['aboutus']">About Us</a></li> -->
          <li><a [routerLink]="['register']">Registration</a></li>
          <li><a [routerLink]="['login']">Login</a></li>
        
      </ul>
  </div>
</div>
