<div class="page-footer">
  
  <div class="page-footer-wrap bg-dark-gray">
      <div class="page-footer-holder page-footer-holder-main">
                                  
          <div class="row">
              
              <div class="col-md-4">
                  <h3>About Us</h3>
                  <p> 
                      ABCTest Solutions Private Limited (SNPL) is a global information technology solutions company that provides Development and Consulting services to Banking, Manufacturing, Pharma and Public sectors.
                  </p>
              </div>
              <div class="col-md-4">
                  <h3>Quick links</h3>
                  
                  <div class="list-links">
                      <a routerLink="">Home</a>                                    
                      <a routerLink="login">Login</a>
                      <a routerLink="register">Registration</a> 
                  </div>                                
              </div>
              <div class="col-md-4">
                  <h3>Contacts</h3>
                  
                  <div class="footer-contacts">
                      <div class="fc-row">
                          <span class="fa fa-home"></span>
                          Test Address, India.
                      </div>
                      <div class="fc-row">
                          <span class="fa fa-phone"></span>
                          +91-1234567890
                      </div>
                      <div class="fc-row">
                          <span class="fa fa-envelope"></span>
                          <a href="mailto:test123@gmail.com">test123@gmail.com</a>
                      </div>                                    
                  </div>
        
                  
              </div>
          </div>
          
      </div>
  </div>
  <div class="page-footer-wrap bg-darken-gray">
      <div class="page-footer-holder">
          <div class="copyright"> 
              &copy; 2018 ABCTest Solutions Pvt. Ltd - All Rights Reserved                            
          </div>
          <div class="social-links">
              <a href="#"><span class="fa fa-facebook"></span></a>
              <a href="#"><span class="fa fa-twitter"></span></a>
              <!-- <a href="#"><span class="fa fa-google-plus"></span></a> -->
              <a href="#"><span class="fa fa-linkedin"></span></a>
              <!-- <a href="#"><span class="fa fa-vimeo-square"></span></a> -->
              <!-- <a href="#"><span class="fa fa-dribbble"></span></a> -->
          </div>                        
      </div>
  </div>
</div>