<!-- <div class="page-content"> -->

<div class="page-content-wrap bg-light">
    <div class="page-content-holder no-padding">
        <div class="page-title">
            <h1>Results</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Results</li>
            </ul>
        </div>
    </div>
</div>


<div class="page-content-wrap">
    <div class="page-content-holder padding-v-30">
        <div class="row" style="height: 300px;">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="fa fa-cogs"></span> Test Details</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table datatable  table-bordered">
                            <tbody>
                                <tr align="center" bgcolor="#f8f8f8">
                                    <td class="mnured" colspan="5">
                                        <strong>
                                            <span id="lblyrsc">Your Score</span>: {{resultObject.Score}}
                                        </strong>
                                    </td>
                                </tr>
                                <tr align="center" bgcolor="#f8f8f8">
                                    <td>
                                        <strong>
                                            <span id="lblmaxm">Maximum Marks</span>
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            <span id="lblyscore">Your Score</span>
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            <span id="lblmaxnoq">Maximum questions</span>
                                        </strong>
                                    </td>
                                    <td>
                                        <span id="lblatq" style="font-weight:bold;">Attempted Questions</span>
                                    </td>
                                    <td>
                                        <span id="lblcora" style="font-weight:bold;">Correct Answers </span>
                                    </td>
                                </tr>
                                <tr align="center" bgcolor="#ffffff">
                                    <td>
                                        {{resultObject.maxMarks}}
                                    </td>
                                    <td>
                                        <span id="lblscore">{{resultObject.Score}}</span>
                                    </td>
                                    <td>
                                        <span id="lblmaxQ">{{resultObject.maxQuestions}}</span>
                                    </td>
                                    <td>
                                        <span id="lblattemQ">{{resultObject.AttemptedQuestions}}</span>
                                    </td>
                                    <td>
                                        <span id="lblCA">{{resultObject.CorrectAnswers}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table datatable   table-bordered table-striped">
                            <tbody>
                                <tr bgcolor="#f8f8f8 ">
                                    <td width="50">
                                        <strong>S.No.</strong>
                                    </td>
                                    <td>
                                        <strong>Question</strong>
                                    </td>
                                    <td>
                                        <strong>Result</strong>
                                    </td>
                                </tr>
                                <tr bgcolor="#ffffff " *ngFor="let UA of answerKeyArrayList; let i=index">
                                    <td>{{i+1}}</td>
                                    <td>
                                        <strong>{{resultObject.userAnswers[i]}}</strong>
                                        <br>
                                        <i>
                                            <u>Correct Answers:</u>
                                            <br>{{UA}}
                                            <br>
                                        </i>
                                    </td>
                                    <td>
                                        <span class="label label-success" *ngIf="UA==resultObject.userAnswers[i]">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </span>
                                        <span class="label label-danger" *ngIf="resultObject.userAnswers[i]!='' && UA!=resultObject.userAnswers[i]">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </span>
                                        <span class="label label-info" *ngIf="resultObject.userAnswers[i]==''||resultObject.userAnswers[i]==undefined||resultObject.userAnswers[i]==null">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <span>Not Attempted</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>